{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Şifre Değiştir" %}
{% endblock title %}

{% block content_users %}

{% if form.errors %}
<div class="alert alert-danger">
    {{ form.errors }}
</div>
{% endif %}

<h2>{% trans "Şifre Değiştir" %}</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% include "tools/form-group.html" %}
    {% endfor %}
    <button type="submit" class="btn btn-success">{% trans 'Şifre Değiştir' %}</button>
    <a href="{% url 'home' %}" class="btn btn-danger">{% trans 'İptal' %}</a>
</form>

{% endblock %}