{% extends 'users/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Şifre Değiştir" %}
{% endblock title %}

{% block content_users %}
{% if validlink %}
<h2>{% trans 'Şifre Değiştir' %}</h2>
<form method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
    {% include "tools/form-group.html" %}
    {% endfor %}

    <button type="submit" class="btn btn-success">{% trans 'Şifre Değiştir' %}</button>
</form>
{% else %}
<p class="alert alert-danger">

    {% blocktrans trimmed %}
    Şifre değiştirme linki geçersiz. Link daha önce kullanılmış olabilir.
    Lütfen tekrar şifre yenileme linki isteyin.
    {% endblocktrans %}


</p>
{% endif %}
{% endblock %}