{% extends 'users/base.html' %}
{% load i18n %}

{% block content_users %}
    <div class="alert alert-info">
        <p>
            {% blocktrans trimmed %}
                Size şifrenizi değiştirmek için mail gönderildi.
                Eğer mail adresinizle kayıtlı bir hesabınız varsa mail hesabınıza yakında ulaşacaktır.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                Eğer mail ulaşmazsa, mail adresini doğru girdiğinizden emin olun veya spam klasörünü kontrol edin.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}