{% extends "users/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Şifremi Unuttum" %}
{% endblock title %}

{% block content_users %}
<form method="post">
    <h2>{% trans "Şifremi Unuttum" %}</h2>
    {% csrf_token %}

    {% for field in form.visible_fields %}
    {% include "tools/form-group.html" %}
    {% endfor %}

    <button class="btn btn-success" type="submit">{% trans 'Gönder' %}</button>
    <a href="{% url 'users:login' %}" class="btn btn-danger">{% trans 'İptal' %}</a>
</form>
{% endblock %}