{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Üye Ol" %}
{% endblock title %}

{% block content_users %}

    <h3 class="card-title text-center mb-4">{% trans 'Üye Ol' %}</h3>
    <form method="POST" class="form">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        {% include "tools/form-group.html" with field=form.username %}

        {% include "tools/form-group.html" with field=form.email %}

        <div class="row">
            {% include "tools/form-group.html" with field=form.password1 extra_class="col-12 col-md-6" %}
            {% include "tools/form-group.html" with field=form.password2 extra_class="col-12 col-md-6" %}
        </div>

        <div class="row">
            {% include "tools/form-group.html" with field=form.first_name extra_class="col-12 col-md-6" %}
            {% include "tools/form-group.html" with field=form.last_name extra_class="col-12 col-md-6" %}
        </div>

        {% include "users/components/institution-field.html" with field=form.institution %}

        <div class="text-center my-3">
            <button type="submit" class="btn btn-success w-50">{% trans 'Üye Ol' %}</button>
        </div>

        <p class="m-2">
            {% trans "Zaten üyeliğiniz var mı?" %} <a href="{% url 'users:login' %}">{% trans "Giriş yap" %}</a>
        </p>

    </form>

    {% include 'kvkk_and_cookies.html' %}

{% endblock %}